body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
}


#csvFile {
    margin-top: 20px;
}

#resultText {
    text-align: center;
}

#resultTable {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

#resultTable th,
#resultTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#resultTable th {
    background-color: #f2f2f2;
}