<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Pair of employees who have worked together</h1>

<input type="file" id="csvFile" accept=".csv" onchange="handleFile(event)">
<br>
<table id="resultTable">
    <thead>
    <tr>
        <th class="header">Employee ID #1</th>
        <th class="header">Employee ID #2</th>
        <th class="header">Project ID</th>
        <th class="header">Days worked</th>
    </tr>
    </thead>
    <tbody id="resultBody"></tbody>
</table>


<script>
    function handleFile(event) {
        let file = event.target.files[0];

        let formData = new FormData();
        formData.append("file", file);

        fetch("/process-csv", {
            method: "POST",
            body: formData
        })
            .then(response => response.json())
            .then(result => {
                console.log(result);
                displayResult(result);
            })
            .catch(error => console.error(error));
    }

    function displayResult(result) {
        let tableBody = document.getElementById("resultBody");
        tableBody.innerHTML = "";

        result.forEach(row => {
            let tr = document.createElement("tr");
            let employee1IdTd = document.createElement("td");
            employee1IdTd.textContent = row.employee_id_1;
            let employee2IdTd = document.createElement("td");
            employee2IdTd.textContent = row.employee_id_2;
            let projectIdTd = document.createElement("td");
            projectIdTd.textContent = row.projects;
            let dayWorkedTd = document.createElement("td");
            dayWorkedTd.textContent = row.days_worked_together;

            tr.appendChild(employee1IdTd);
            tr.appendChild(employee2IdTd);
            tr.appendChild(projectIdTd);
            tr.appendChild(dayWorkedTd);

            tableBody.appendChild(tr);
        });
    }
</script>
</body>
</html>