<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1><p>Pair of employees who have worked together</p>
    <p>on common projects for the longest period of time</p></h1>

<input type="file" id="csvFile" accept=".csv" onchange="handleFile(event)">
<br>

<h2>Result:</h2>
<div id="resultText">
</div>


<table id="resultTable">
    <thead>
    <tr>
        <th class="header">Employee ID #1</th>
        <th class="header">Employee ID #2</th>
        <th class="header">Project ID</th>
        <th class="header">Days worked</th>
    </tr>
    </thead>
    <tbody id="resultBody"></tbody>
</table>


<script>
    function handleFile(event) {
        let file = event.target.files[0];

        let formData = new FormData();
        formData.append("file", file);

        fetch("/process-csv", {
            method: "POST",
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error("Invalid input data");
                }
            })
            .then(result => {
                console.log(result);
                displayTextResult(result);
                displayTableResult(result);
            })
            .catch(error => {
                console.error(error);
                displayErrorMessage();
            });
    }

    function displayTextResult(result) {
        let resultText = document.getElementById("resultText");
        resultText.innerHTML = "";
        let tableBody = document.getElementById("resultBody");
        tableBody.innerHTML = "";

        if (result.length === 0) {
            let p = document.createElement("p");
            p.textContent = "No pair of employees have worked together";
            resultText.appendChild(p);
        } else {
            result.forEach(row => {
                let p = document.createElement("p");
                p.textContent = row.employee_id_1 + ', ' + row.employee_id_2 + ', ' + row.days_worked_together;
                resultText.appendChild(p);
            });
        }
    }

    function displayTableResult(result) {
        let tableBody = document.getElementById("resultBody");
        tableBody.innerHTML = "";

        result.forEach(row => {
            const projects = row.projects;
            for (const key in projects) {
                let tr = document.createElement("tr");
                let employee1IdTd = document.createElement("td");
                employee1IdTd.textContent = row.employee_id_1;
                let employee2IdTd = document.createElement("td");
                employee2IdTd.textContent = row.employee_id_2;
                let projectIdTd = document.createElement("td");
                projectIdTd.textContent = key;
                let dayWorkedTd = document.createElement("td");
                dayWorkedTd.textContent = projects[key];

                tr.appendChild(employee1IdTd);
                tr.appendChild(employee2IdTd);
                tr.appendChild(projectIdTd);
                tr.appendChild(dayWorkedTd);

                tableBody.appendChild(tr);
            }
        });
    }

    function displayErrorMessage() {
        let resultText = document.getElementById("resultText");
        resultText.innerHTML = "";
        let tableBody = document.getElementById("resultBody");
        tableBody.innerHTML = "";

        let p = document.createElement("p");
        p.textContent = "Invalid input data";
        resultText.appendChild(p);
    }

</script>
</body>
</html>